<% @categories.each do |category| %>
<div class="category">
  <h1><%= category.name %></h1>
  <% category.items.each do |item| %>
  <div class="item">
    <%= form_for State.new, :remote => true do |f| %>
      <%= f.hidden_field :item_id, value: item.id %>
      <%= item.name %>  
      <%= f.text_field :value %>
      <%= f.submit %>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>




<!--
<% @items.each do |item| %>
<div class="item">
  <%= item.category.name %>
  <%= item.name %>  
</div>
<% end %>
--> 

<%= form_for(@state) do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% @state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
